@charset "UTF-8";

.welcome {
	width: 100%;
	height: 100vh;
	padding-top: 60px;
	background-image: url(../img/me.jpg);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container {
	width: 100%;
	height: 100%;
}

.welcome h3 {
	font-size: 45px;
	color: #e84118;
}

.welcome h1 {
	font-size: 60px;
	color: #c23616;
}

.private-info, .skills {
	background: #00a8ff;
	padding: 10px 60px;
}

.private-info h1, .skills h1 {
	font-size: 35px;
	text-align: center;
	text-transform: uppercase;
}

.infors-container div {
	width: 350px;
	margin: 15px auto;
	background-color: #fbc531;
	padding: 10px;
	font-size: 20px;
	color: #353b48;
	text-align: center;
}

.skills {
	background-color: #dcdde1;
}

.skill {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 500px;
	margin: 20px auto;
	border-bottom: 1px solid;
	height: 60px;
}

.skill p:last-child {
	width: 300px;
	text-align: center;
	height: 30px;
	line-height: 30px;
	background-color: #718093;
	border-radius: 50px;
	position: relative;
}

.skill p:last-child:after {
	content: "50%";
	width: 100%;
	height: inherit;
	position: absolute;
	background-color: #e84118;
	left: 0;
	top: 0;
	border-radius: 50px;
	z-index: 1;
	color: #f5f6fa;
	font-weight: 700;
	font-size: 18px;
}

.skill:nth-child(1) p:last-child:after {
	content: "50%";
	width: 50%;
}

.skill:nth-child(2) p:last-child:after {
	content: "50%";
	width: 50%;
}

.skill:nth-child(3) p:last-child:after {
	content: "40%";
	width: 40%;
}

.skill:nth-child(4) p:last-child:after {
	content: "50%";
	width: 50%;
}

.skill:nth-child(5) p:last-child:after {
	content: "70%";
	width: 70%;
}

.skill p:first-child {
	font-size: 18px;
	font-weight: 700;
}

.infors-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

ul.navbar-items li a.item {
	color:#f5f6fa !important;
}

ul.navbar-items li a.item.about {
    color: #fbc531 !important;
}