@charset "UTF-8";

.container {
	width: 100%;
	height: 100%;
}

.content {
	padding-top: 60px;
}

.content h1, .search-qa h1 {
	text-align: center;
	position: relative;
}

.qa-container {
	position: relative;
	padding-bottom: 25px;
	height: 550px;
	overflow: hidden;
}

.qa-container i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(0deg);
	font-size: 40px;
	cursor: pointer;
	transition: 0.4s;
	z-index: 2;
	color: #e1b12c;
}

.numbers {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
}

.numbers span {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: #e1b12c;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	border-radius: 50%;
	transition: 0.4s;
	cursor: pointer;
}

.numbers span.active {
	background-color: #4cd137;
}

.numbers span:hover {
	background-color: #4cd137;
}

.qa-container i:hover {
	transform: translateY(-50%) rotate(360deg);
	color: #4cd137;
}

.qa-container i.fa-chevron-left {
	left: 20px;
}

.qa-container i.fa-chevron-right {
	right: 20px;
}

.qa div {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 3px auto;
}

.qa {
	margin: 20px auto;
	border: 1px solid;
	width: 350px;
	padding: 5px;
	letter-spacing: 1px;
}

.qa div p:first-child, .answer-box p:first-child {
	font-weight: bold;
}

.question-container {
	text-align: center;
}

.question-container h2 {
	margin: 10px 0;
}

.question-container textarea {
	width: 300px;
	font-size: 18px;
	letter-spacing: 1px;
	padding-left: 5px;
	outline: none;
}

.button-container {
	text-align: center;
}

.ask-me {
	text-align: center;
	margin: 10px 0;
}

.button-container  button {
	width: 100px;
	height: 30px;
	background-color: #44bd32;
	border: none;
	cursor: pointer;
	transition: 0.4s;
	font-size: 18px;
}

.button-container button:hover {
	background-color: #4cd137;
}

.qas {
	position: absolute;
	left: -100%;
	transform: translateX(-50%);
}

.qas.active {
	left: 50%;
}

.move-left-active {
	animation: move-left-active 0.4s forwards;
}

@keyframes move-left-active { 0%{
	left: 50%;
}

100%{
left
:
 
-100%;
}
}
.move-left-next {
	animation: move-left-next 0.4s forwards;
}

@keyframes move-left-next { 0%{
	left: 100%;
}

100%{
left
:
 
50%;
}
}
.move-right-active {
	animation: move-right-active 0.4s forwards;
}

@keyframes move-right-active { 0%{
	left: 50%;
}

100%{
left
:
 
100%;
}
}
.move-right-pre {
	animation: move-right-pre 0.4s forwards;
}

@keyframes move-right-pre { 0%{
	left: -100%;
}

100%{
left
:
 
50%;
}
}
ul.navbar-items li a.item {
	color: #f5f6fa !important;
}

ul.navbar-items li a.item.ask {
	color: #fbc531 !important;
}

.blur {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	transition: 0.4s;
}

.blur_appear {
	opacity: 0.6;
	visibility: visible;
}

.qa button {
	width: 100px;
	height: 25px;
	border: none;
	font-size: 18px;
	cursor: pointer;
	transition: 0.4s;
}

.qa button:first-child {
	background-color: #c23616;
}

.qa button:first-child:hover {
	background-color: #e84118;
}

.qa button:last-child {
	background-color: #44bd32;
}

.qa button:last-child:hover {
	background-color: #4cd137;
}

.answer-box {
	position: fixed;
	z-index: 1000;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(0);
	width: 400px;
	font-size: 18px;
	background-color: #353b48;
	padding: 10px 20px;
	color: white;
}

.answer-box-appear {
	transform: translate(-50%, -50%) scale(1);
}

.answer-box div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: space-between;
	text-align: center;
}

.answer-box p:last-child-child {
	margin: 5px 0
}

.answer-box textarea {
	padding: 5px 0 0 5px;
	border: none;
	margin: 10px 0
}

.answer-box button {
	width: 150px;
	height: 30px;
	margin: auto;
	border: none;
	cursor: pointer;
	font-size: 20px;
	background-color: #0097e6;
	transition: 0.4s;
}

.answer-box button:hover {
	background-color: #00a8ff;
}

.answer-box i.fas.fa-times {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 30px;
	color: #e84118;
	cursor: pointer;
}

.buttons {
	position: absolute;
	bottom: 20px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.buttons a {
	font-size: 20px;
}

.search-qa {
	position: fixed;
	z-index: 999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
	background-color: #dcdde1;
	display: none;
	color: #2f3640;
}

.search-qa.appear {
	display: block;
}

.search-qa input {
	width: 300px;
	height: 30px;
	font-size: 18px;
	padding-left: 10px;
}

.search-qa .qas {
	position: relative !important;
	left: 0;
	transform: translateX(0);
}

.search-qa .qas.active {
	
}

.search-qa .qa-container {
	overflow-y: scroll;
}

.search-qa .qa-container i, .search-qa .numbers {
	display: none;
}

.content h1 i, .search-qa h1 i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%) translateX(80px);
	cursor: pointer;
}

.search-qa h1 i {
	color: red;
}

.blur {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	transition: 0.4s;
}

.blur_appear {
	opacity: 0.6;
	visibility: visible;
}