@charset "UTF-8";

footer.footer {
	position: fixed;
	bottom: 0;
}

.blur {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	transition: 0.4s;
}

.blur_appear {
	opacity: 0.6;
	visibility: visible;
}

feedback_success_close:hover {
	color: #f1c40f;
}

.feedback_success {
	position: fixed;
	z-index: 1000;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(0);
	width: 70%;
	height: 400px;
	text-align: center;
	font-size: 40px;
	background-color: #34495e;
	transition: 0.5s;
	border-radius: 20px;
	padding: 0 10px;
	color: #ecf0f1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.feedback_success_appear {
	transform: translate(-50%, -50%) scale(1);
}

.feedback_success_close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 10px;
	left: 10px;
	text-align: center;
	line-height: 40px;
	color: #dcdde1;
	display: inline-block;
	cursor: pointer;
}

.main_form-input {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 50%;
	width: 100%;
	padding: 0 60px;
}

.main_form-input h1 {
	text-align: center;
}

.form-input div {
	width: 70%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px auto;
}

.form-input {
	text-align: center;
}

.form-input div label {
	font-size: 20px;
	font-weight: 600;
}

.form-input div input, .form-input div textarea {
	width: 360px;
	font-size: 18px;
	letter-spacing: 1px;
	padding-left: 5px;
	border: none;
	outline: none;
}

.form-input div input {
	height: 30px;
	outline: none;
}

.form-input button {
	width: 60px;
	height: 30px;
	border: none;
	background-color: lawngreen;
	font-size: 20px;
	font-weight: 600;
	transition: 0.4s;
	cursor: pointer;
}

.form-input button:hover {
	opacity: 0.7;
}

.content {
	padding-top: 60px;
	height: 100%;
	text-align: center;
}

.content form {
	width: 800px;
	margin: auto;
	border-radius: 10px;
	padding: 10px 0;
	background-color: #9c88ff;
}

ul.navbar-items li a.item {
	color:#f5f6fa !important;
}

ul.navbar-items li a.item.contact {
    color: #fbc531 !important;
}