@charset "UTF-8";

footer.footer {
	width: 100%;
	background-color: #34495e;
	padding-top: 20px;
}

.footer_top {
	padding: 15px 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
	color: #ecf0f1;
}

.footer_copyright {
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 20px;
	background-color: #2c3e50;
	color: #ecf0f1;
}

.footer_top p {
	margin: 10px 0;
}

.footer_top_right i {
	margin-left: 20px;
	font-size: 40px;
	transition: 0.4s;
	cursor: pointer;
	transform: rotate(0deg);
}

.footer_top_right i:first-child {
	color: blue;
}

.footer_top_right i:last-child {
	color: red;
}

.footer_top_right i:hover {
	transform: rotate(360deg);
}

nav.nav_bar ul li a.active {
	color: #d35400;
}

.navbar {
	width: 100%;
	height: 60px;
	background-color: #34495e;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 60px;
	font-size: 25px;
	color: #f5f6fa;
	position: absolute;
	z-index: 4;
	left: 0;
	top: 0;
	transition: 0.4s;
}

span.navbar-toggle {
	font-size: 30px;
	cursor: pointer;
	display: none;
}

span.logo {
	font-size: 30px;
	font-weight: 700;
	cursor: pointer;
}

ul.navbar-items li {
	position: relative;
	list-style: none;
	display: inline-block;
	padding: 5px 10px;
}

/* ul.navbar-items li:last-child {
	display: none;
} */

ul.navbar-items li a {
	font-size: 22px;
	text-decoration: none;
	color: #f5f6fa;
	transition: 0.4s;
}

ul.navbar-items li a.active {
	color: #fbc531;
}

ul.navbar-items li a:hover {
	color: #fbc531;
}

ul.navbar-items li:after {
	content: "";
	position: absolute;
	width: 0;
	height: 2px;
	background-color: #fbc531;
	transition: 0.4s;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
}

ul.navbar-items li.mouse-on:after {
	width: 80%;
}

.nav_bar_fixed {
	position: fixed;
}

ul.navbar-items li a.user {
    background-color: #e84118;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

ul.navbar-items li a.user:hover {
	color: #f5f6fa !important;
}

ul.navbar-items li a.user .user-toggle {
	position: absolute;
	left: 50%;
	top: 110%;
	transform: translateX(-50%);
	display: inline-block;
	width: 160px;
	font-size: 18px;
	background-color: #00a8ff;
	cursor: context-menu;
	max-height : 0px;
	overflow: hidden;
}

ul.navbar-items li a.user .user-toggle.appear {
	padding: 10px;
	max-height : 160px;
}

ul.navbar-items li a.user .user-toggle span{
	display:block;
	cursor: pointer;
	transition: 0.4s;
}

ul.navbar-items li a.user .user-toggle span.logout-btn{
	background-color: #e84118;
}

ul.navbar-items li a.user .user-toggle span:hover {
    color: #e84118;
}

ul.navbar-items li a.user .user-toggle span.logout-btn:hover{
	color: #00a8ff;
}