@charset "UTF-8";

.container {
	width: 100%;
	height: 100%;
}

.banner {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.banner i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(0deg);
	font-size: 40px;
	cursor: pointer;
	transition: 0.4s;
	z-index: 2;
	color: #e1b12c;
}

.banner i:hover {
	transform: translateY(-50%) rotate(360deg);
	color: #4cd137;
}

.banner i.fa-chevron-left {
	left: 20px;
}

.banner i.fa-chevron-right {
	right: 20px;
}

.numbers {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
}

.numbers span {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: #e1b12c;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	border-radius: 50%;
	transition: 0.4s;
	cursor: pointer;
}

.numbers span.active {
	background-color: #4cd137;
}

.numbers span:hover {
	background-color: #4cd137;
}

.banner div.img {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: 0.4s;
	z-index: 1;
	transform: translateX(-100%);
}

.banner div.img.active {
	transform: translateX(0%);
}

.move-left-active {
	animation: move-left-active 0.4s forwards;
}

@keyframes move-left-active {from { transform:translateX(0%);
	
}

to {
	transform: translateX(-100%);
}

}
.move-left-next {
	animation: move-left-next 0.4s forwards;
}

@keyframes move-left-next {from { transform:translateX(100%);
	
}

to {
	transform: translateX(0%);
}

}
.move-right-active {
	animation: move-right-active 0.4s forwards;
}

@keyframes move-right-active {from { transform:translateX(0%);
	
}

to {
	transform: translateX(100%);
}

}
.move-right-pre {
	animation: move-right-pre 0.4s forwards;
}

@keyframes move-right-pre {from { transform:translateX(-100%);
	
}

to {
	transform: translateX(0%);
}

}
.content {
	
}

.hobbies-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: #487eb0;
	padding: 10px 60px;
}

.hobbies-container h1, .projects-container h1 {
	width: 100%;
	text-align: center;
	font-size: 35px;
	text-transform: uppercase;
}

.hobby {
	text-align: center;
	letter-spacing: 1px;
	font-size: 20px;
	height: 320px;
	width: 300px;
	margin: auto;
}

.hobby h3, .front-end h3, .back-end h3, .full-stack h3 {
	font-size: 30px;
	margin: 10px 0;
	position: relative;
}

.hobbies {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.hobby i {
	width: 60px;
	height: 60px;
	line-height: 60px;
	font-size: 30px;
	border-radius: 50%;
	background-color: #0097e6;
	color: #f5f6fa;
	transition: 0.4s;
}

.hobby i:hover {
	color: #0097e6;
	background-color: #f5f6fa;
}

.projects-container {
	width: 100%;
	background-color: #1abc9c;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 0;
}

.projects-container h1 {
	width: 100%;
}

.projects {
	width: 100%;
}

.type {
	width: 400px;
	margin: 10px auto;
	transition: 0.4s;
	background-color: #f1c40f;
	padding: 10px 0;
}

.type p {
	font-size: 20px;
}

.fron-end-projects, .back-end-projects, .full-stack-projects {
	max-height: 0;
	overflow: hidden;
	transition: 0.4s;
	padding: 0 15px;
}

.project-expand {
	max-height: 100%;
}

.project div {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 0;
}

.project {
	background-color: #e74c3c;
	color: #f5f6fa;
	padding: 5px 0;
	margin: 5px 0;
}

.project i {
	margin-right: 10px;
}

.project .link {
	color: blue;
	transition: 0.4s;
	cursor: pointer;
}

.project .link:hover {
	text-decoration: underline;
}

.front-end h3 i, .back-end h3 i , .full-stack h3 i {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

ul.navbar-items li a.item {
	color:#f5f6fa !important;
}

ul.navbar-items li a.item.home {
    color: #fbc531 !important;
}