@charset "UTF-8";

.container {
	width: 100%;
	height: 100%;
	background-image: url(../img/bg_login.jpg);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ecf0f1;
}

.form-container {
	padding: 10px 20px 10px 20px;
	width: 400px;
	background-color: #34495e;
	border-radius: 5px;
	box-shadow: 0px 0px 21px #888888;
}

h1.title {
	text-align: center;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.input-container {
	padding: 10px 0;
	width: 100%;
	position: relative;
}

.input-container input, .input-container button {
	width: 100%;
	height: 30px;
	font-size: 20px;
	border: none;
	background-color: transparent;
	outline: none;
	color: #ffffff;
	padding-left: 30px;
	position: relative;
}

.input-container i {
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	font-size: 20px;
	color: #ffffff;
	cursor: pointer;
	z-index: 2;
}

.input-container input[type=button], .input-container button {
	padding-left: 0;
	background-color: #27ae60;
	transition: 0.4s;
	cursor: pointer;
}

.input-container:last-child:after {
	width: 100%;
	height: auto;
	position: absolute;
	background-color: transparent;
	content: "";
	left: 50%;
	bottom: -132%;
	transform: translateX(-50%) scale(0);
	text-align: center;
	color: #eb2f06;
	font-size: 25px;
	font-weight: 700;
	transition: 0.2s;
}

.input-container.error:last-child:after {
	content: attr(data-error);
	transform: translateX(-50%) scale(1);
}

.input-container:after {
	content: "";
	width: 0%;
	height: 2px;
	background-color: #f1c40f;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	transition: 0.4s;
}

.input-container.focused:after {
	width: 80%;
}

.input-container input[type=button]:hover, .input-container button:hover
	{
	background-color: #2ecc71;
}